body {
    margin: 0;
    background: #eee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular",
        sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    font-family: sans-serif;
    text-align: center;
    padding: 0 5%;
}

button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 13px;
    border: 0px;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
}

.ExcalidrawModal__overlay {
    display: flex;
    align-items: center;
    position: fixed;
    flex-direction: column;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    flex-grow: 0px;
    flex-shrink: 1px;
    z-index: 100;
    background-color: rgba(40, 40, 40, 0.6);
}

.ExcalidrawModal__actions {
    text-align: end;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
}

.ExcalidrawModal__actions button {
    background-color: #fff;
    border-radius: 5px;
}

.ExcalidrawModal__actions button:hover {
    background-color: rgb(214, 213, 213);
}

.ExcalidrawModal__row {
    position: relative;
    padding: 40px 5px 5px;
    width: 70vw;
    height: 70vh;
    border-radius: 8px;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
        inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

.ExcalidrawModal__row>div {
    border-radius: 5px;
}

.ExcalidrawModal__modal {
    position: relative;
    z-index: 10;
    top: 50px;
    width: auto;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #eee;
}

.ExcalidrawModal__discardModal {
    margin-top: 60px;
    text-align: center;
}

.editor-container {
    background: #fff;
    margin: 20px auto 20px auto;
    border-radius: 2px;
    max-width: 600px;
    color: #000;
    position: relative;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    border-radius: 10px;
}

.editor-input {
    min-height: 150px;
    resize: none;
    font-size: 15px;
    caret-color: rgb(5, 5, 5);
    position: relative;
    tab-size: 1;
    outline: 0;
    padding: 0px 10px 5px;
    caret-color: #444;
}

.editor-placeholder {
    color: #999;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 45px;
    left: 10px;
    font-size: 15px;
    user-select: none;
    display: inline-block;
    pointer-events: none;
}

.editor-paragraph {
    margin: 0 0 15px 0;
    position: relative;
}

.toolbar {
    display: flex;
    margin-bottom: 1px;
    background: #fff;
    padding: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    vertical-align: middle;
    overflow: auto;
    height: 36px;
}

.toolbar button.toolbar-item {
    border: 0;
    display: flex;
    background: none;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
    vertical-align: middle;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(223, 223, 223);
}

.toolbar button.toolbar-item.spaced {
    margin: 5px;
}

.toolbar .toolbar-item:hover:not([disabled]) {
    background-color: #eee;
}

.toolbar .toolbar-item.font-family .text {
    display: block;
    max-width: 40px;
}

.toolbar .toolbar-item .text {
    display: flex;
    line-height: 20px;
    vertical-align: middle;
    font-size: 14px;
    color: rgb(104, 104, 104);
    text-overflow: ellipsis;
    overflow: hidden;
    height: 20px;
    text-align: left;
}